@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Caveat&family=Merriweather+Sans&family=Whisper&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import "variables";
@import "tooplit";


// edit bootstrap-----------------------
.btn-outline-primary{
  &:hover{
    background-color: $main_color;
    color:white;
  }
}
// edit bootstrap-----------------------

// public classes----------------------------------
h1,h2,h3,p,span{
  color:$black
}
label{
  margin-bottom: 5px;
}
.normal{
  font-size: $normal;
}
.semi_big{
  font-size: $semi_big !important;
}
.big{
  font-size: $big;
}
.small{
  font-size: $button !important;
}
.cursor-pointer{
  cursor: pointer;
}
.btn-bk-primary{
  background-color: $main_color_white_bk;
  padding: 6px 23px !important;
  color: $main_color;
  border-radius: 5px;
}
.top-1{
  top:1px;
}
.top-13{
  top:13px;
}
.gray{
  color:$gray !important;
}
.blue{
  color:$main_color;
}
.green{
  color:$green !important;
}
.red{
  color:darkred;
}
.black{
  color:$black !important;
}
.bk-white{
  background-color: white;
}
.white{
  color:white !important;
}
.input-icon{
  position: relative;
  display: flex;
  align-items: center;
  >span:first-of-type{
    position: absolute;
    color:$gray;
  }
}
.input-icon.flex-wrap{
  >span:first-of-type{
    top: unset;
    bottom: 7px;
  }
}

.line-hover{
  &:hover{
    color:$blue !important;
  }
  &::before{
    content:'';
    height: 2px;
    width: 0px;
    transition: 0.5s all;
    bottom: -2px;
    position: absolute;
    background-color: $main_color;
  }
  &:hover::before{
    width: 100%;
  }
}
.line{
  background-color: $gray_more_white;
  height: 4px;
  border-radius: 15px;
  min-width: 60px;
}
@media (max-width: 767px) {
  .text-center-mobile{
    text-align: center;
  }
  .width-100-mobile{
    width:100% !important;
  }
}
.fit-content{
  width:fit-content;
}
.form-has-submit-absolute{
  input:first-of-type{
    padding: 10px;
  }
}
.absolute-submit{
  position: absolute;
  top:4px;
}

.fixed-dots{
  position: fixed;
  top:25%;
  z-index: 99999;
  background-color: white;
  ul{
    border: 1px solid #ddd;
    padding: 15px 5px;
    border-radius: 36px;
    li{
      margin-bottom: 10px;
      transition: 0.5 all;
      cursor: pointer;
      span{
        width: 20px;
        height: 20px;
        display: block;
        margin: auto;
        border-radius: 50%;
        background-color: $main_color_white_bk;
      }
    }
    li.active{
      border: 1px solid #dddddd;
      padding: 5px;
      border-radius: 50%;
      span{
        background-color: $main_color;
      }
    }

  }
}

.section-title-control{
  span:last-of-type{
      font-size: $semi_big;
  }
}
.end-border-bottom{
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.box-shadow{
  background-color: white;
  padding: 15px;
  box-shadow: 1px 1px 6px 1px #ddd;
  border-radius: 8px
}
.top-3{
  top:3px;
}
.variety_data{
  .one_variety{
    border: 1px solid #ddd;
    border-bottom: transparent;
    margin: 0px 10px;
    &:first-of-type{
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
    &:last-of-type{
      border-bottom:1px solid #dddddd;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .heading{
      border-bottom:1px solid #dddddd;
      padding: 10px;
      p{
        span{
          cursor: pointer;
        }
      }
    }
    .data{
      display: none;
    }
    .value{
      position: relative;
      padding: 10px;
      p:last-of-type{
        color:$gray;
      }
      .image{
        img{
          width: 100%;
          display: block;
          margin: auto;
        }
        span{
          color:white !important;
        }
      }
      span.icon{
        position: absolute;
        top:20px;
        cursor: pointer;
      }
      span.icon:first-of-type{
        color:$gray;
      }
      span.icon:last-of-type{
        color:darkred;
      }
    }
    .value:not(:last-of-type){
      border-bottom: 1px solid #eeeeee;
    }
  }
}

.item-each-other{
  border: 1px solid $main_color;
  padding: 6px 15px;
  border-radius: 35px;
  position: relative;
  span:last-of-type{
    position: absolute;
    top: -6px;
    border: 1px solid darkred;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: darkred;
    background-color: white;
    cursor: pointer;
    transition: 0.5s all;
    i{
      position: relative;
      top:1px;
    }
    &:hover{
      background-color: darkred;
      color:white;
    }
  }
}

.dynamic_tabs{
  ul.row{
    border-bottom: 1px solid #dddddd;
    >li{
      min-width: 25%;
      background-color: white;
      cursor: pointer;
      span{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color:$blue;
        background-color: $main_color_white_bk;
        i{
          font-size: 20px;
        }
      }
      div{
        width:calc(100% - 57px);
      }
      p:last-of-type{
        font-size: 15px;
      }
      &.active{
        background-color: $main_color_white_bk;
      }
    }
  }
  .job_info{
    img{
      max-height: 80px;
      border: 1px solid #dddddd;
      border-radius: 8px;
    }
    img+div{
      width: -webkit-fill-available;
    }
    span.btn{
      padding: 3px 10px;
    }
  }
}
@media (min-width:767px) and (max-width:992px) {
  .dynamic_tabs{
    ul.row{
      li{
        &:first-of-type,&:nth-of-type(2){
          border-bottom: 1px solid #dddddd;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .dynamic_tabs{
    ul.row{
      li{
        border-bottom: 1px solid #dddddd;
      }
    }
    .data{
      .value{
        >div{
          display: block !important;
          img{
            display: block;
            margin:0px auto !important;
          }
        }
      }
    }
  }
}


.file_upload{
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed $gray;
  position: relative;
  height: 70px;
  cursor: pointer;
  input{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
  }

}

.checkbox-item{
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  input{
    width: 20px;
    height: 20px;
    position: relative;
    top:4px;
  }
  span{
    color:$gray;
  }
  &.active{
    border-color: $main_color;
    span{
      color:$black;
    }
  }
}

.ck-toolbar__items{
  flex-wrap: wrap !important;
  justify-content: center !important;
}
.ck-content.ck-editor__editable{
  min-height: 130px !important;
}
.ck.ck-editor{
  width: 100%;
}


.dots-action{
  position: relative;
  >li{
    position: relative;
    >ul{
      position: absolute;
      background-color: white;
      width: 150px;
      border: 1px solid #eee;
      border-radius: 3px;
      margin-top: 3px;
      display: none;
      li{
        padding: 3px;
        font-weight: normal;
        &:not(:last-of-type){
          border-bottom: 1px solid #dddddd;
        }
      }
      &::before{
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        margin-right: 4px;
        margin-left: 4px;
        width: 10px;
        height: 10px;
        background-color: white;
        border:1px solid transparent;
        border-bottom: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        transform: rotate(-134deg);
      }
    }
  }
}


// start of profile page ----------------------------------
.profile{
  .inner_profile{
    background-color: $main_color_more_white_bk;
    border-radius: 8px;
    border: 1px solid #dddddd;

    .quick_statistics{
      .statistics{
        border: 1px solid #dddddd;
        padding: 10px;
        border-radius: 5px;
        div{
          p{
            text-align: center;
            margin-bottom: 5px;
          }
        }
        img{
          height: 70px;
        }
      }
    }
    .video{
      background-image: url("/images/video.jpg");
      height: 300px;
      background-size: cover;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      div{
        position: relative;
        height: 100%;
        background-color: #0a58ca70;
        span{
          color:white;
          cursor: pointer;
        }
        span:first-of-type{
          position: absolute;
          top: 10px;
        }
        span:last-of-type{
          font-size: 60px;
        }
      }
    }
  }
  .nearest_jobs{
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 10px;
  }
}
.personal_info_profile{
  .info{
    .bk{
      background-image: url("/images/users/bk.jpg");
      height: 300px;
      background-size: cover;
      background-position: center;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      position: relative;
      margin-bottom: 60px;
      div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 95%;
        bottom: -35px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        img{
          width: 90px;
          height: 90px;
          border:1px solid #dddddd;
          border-radius: 50%;
        }
        button{
          position: relative;
          top: 35px;
        }
      }
    }
    .row{
      div{
        p{
          span:first-of-type{
            color:$gray;
            position: relative;
            top:2px;
          }
        }
      }
    }
  }
}



@media (min-width: 767px) {
  .profile{
    .inner_profile{
      .info{
        .row{
          div{
            p.end{
              justify-content: flex-start;
              flex-direction: row-reverse;
            }
          }
        }
      }
    }
  }
}

// end of profile page ----------------------------------
// start of auth page ----------------------------------

.auth{
  position: relative;
  height: 700px;
  .shape{
    position: absolute;
    height: 100%;
    width: 58%;
    background-color: #00000057;
    z-index: -1;
  }
  .auth-content{
    position: relative;
    z-index: 9999;
    height: 100%;
    display: flex;
    align-items: center;
    .form-data{
      background-color: white;
      border: 1px solid #dddddd;
      border-radius: 8px;
      p{
        text-align: center;
      }
    }
  }
  video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: fill;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
  }
}

// end of auth page ----------------------------------
// public classes----------------------------------
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Cairo', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style:none;
}



